@import 'tailwindcss';

@theme {
  --color-primary-50: #f0fdfa;
  --color-primary-100: #ccfbf1;
  --color-primary-500: #14b8a6;
  --color-primary-600: #0d9488;
  --color-primary-700: #0f766e;
  --color-primary-800: #115e59;
}

body {
  @apply bg-primary-50 text-slate-800 antialiased;
  margin: 0;
  min-height: 100dvh;
}

#root {
  min-height: 100dvh;
}
